<%- include('./header') %>

<body> 
    <%- include('./navbar') %>

    <div class="container mx-auto mt-20 py-20 px-20">
      <div class="flex justify-between space-x-10">
        <a href="#" class="bg-white rounded-lg shadow-md flex flex-col items-center box hover:bg-gray-200 transition">
          <img src="/img/EuRoc 2022/FotoEquipa_2.jpg" alt="Imagem 1" class="max-w-full mb-4 rounded-t-lg">
          <p class="text-gray-600 font-bold text-center mb-4 mr-4 ml-4">Conhece todos os membros da nossa equipa</p>
        </a>
        <a href="#" class="bg-white rounded-lg shadow-md flex flex-col items-center box hover:bg-gray-200 transition">
          <img src="/img/EuRoc 2022/FotoEquipa_2.jpg" alt="Imagem 2" class="max-w-full mb-4 rounded-t-lg">
          <p class="text-center mb-4">Texto da Caixa 2</p>
        </a>
        <a href="#" class="bg-white rounded-lg shadow-md flex flex-col items-center box hover:bg-gray-200 transition">
          <img src="/img/EuRoc 2022/FotoEquipa_2.jpg" alt="Imagem 3" class="max-w-full mb-4 rounded-t-lg">
          <p class="text-center mb-4">Texto da Caixa 3</p>
        </a>
      </div>
    </div>

    <%- include('./footer') %>
</body>

