<%- include('./header') %>

<body> 
    <%- include('./navbar') %>
    <div class="landing" id="landing">
      <div class="about-me">
        <h1 class="text-4xl font-bold"><%= __('RED - Rocket Experiment Division') %></h1>
        <h3>Projeto do AeroTéc</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, repellat optio! Deleniti commodi amet fugiat odit eligendi praesentium nemo, labore placeat omnis delectus, hic veritatis, inventore doloremque quas dolorem sunt.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quidem dolorem, neque esse officia earum aspernatur modi magni ut perferendis perspiciatis quo ipsa repudiandae eum enim id vel fugit veritatis!
        </p>
        <div class="icons">
          <a href=https://github.com/Xokhezi>
            <i id="gitHubIcon" class="fab fa-github" style="color: black"></i>
          </a>          
          <a href="https://instagram.com/tom.is.coding?igshid=NTc4MTIwNjQ2YQ==">
            <i
              id="instagramIcon"
              class="fab fa-instagram"
              style="color: #c13584"
            ></i>
          </a>
          <a
            href="https://www.linkedin.com/in/tom%C3%A1%C5%A1-n%C4%9Bmec-2501ab1b7/"
          >
            <i
              id="linkedinIcon"
              class="fab fa-linkedin"
              style="color: #0077b5"
            ></i>
          </a>
        </div>
      </div>
      <img class="profile-pic" src="me.jpg" alt="" />
    </div>
    <div class="skills-section" id="skills">
      <div class="skill-card">
        <h2>FrontEnd</h2>
        <img style="margin-top: 50px" src="splash.png" alt="" />
        <ul>
          <li>Languages: HTML, CSS, JavaScript, TypeScript</li>
          <li>Frameworks/Libraries: Angular, React, Bootstrap, Material UI</li>
          <li>Tools/Functionalities: JWT, Axios, React Query</li>
        </ul>
      </div>
      <div class="skill-card">
        <h2>BackEnd</h2>
        <img style="height: 300px" class="rotate" src="wheel.png" alt="" />
        <ul style="z-index: 1; transform: translateY(-50px)">
          <li>Language: C#</li>
          <li>Framework: .NET Core</li>
          <li>Database: SQL (Entity Framework)</li>
          <li>API: CRUD Operations, Queries, Validations</li>
        </ul>
      </div>
      <div class="skill-card">
        <h2>Tools</h2>
        <img style="margin-top: 50px" src="tool.png" alt="" />
        <ul>
          <li>VS Code</li>
          <li>PostMan</li>
          <li>GitHub</li>
          <li>Jira</li>
        </ul>
      </div>
    </div>
    <div class="project-section" id="projects">
      <h1 style="font-size: 3.5rem;width: 100%;text-align: center;">What I do?</h1>
      <div class="project-card">
        <h1>
          Github
          <a href=https://github.com/Xokhezi>
            <i id="gitHubIcon" class="fab fa-github" style="color: black"></i>
          </a>
        </h1>
        <p>
          I develop production-ready applications, and you can find a selection
          of them on my GitHub profile. Feel free to explore and assess my
          coding skills and project expertise. In addition to the existing
          applications, I am continuously working on expanding my portfolio with
          new projects that showcase my abilities and dedication to delivering
          high-quality software solutions.
        </p>
      </div>
      <div class="project-card">
        <h1>
          Building Social Media
          <a href="https://instagram.com/tom.is.coding?igshid=NTc4MTIwNjQ2YQ==">
            <i
              id="instagramIcon"
              class="fab fa-instagram"
              style="color: #c13584"
            ></i>
          </a>
        </h1>

        <p>
          On my business Instagram account, I regularly share posts about tech
          and code snippets. Through these posts, I aim to showcase not only my
          expertise but also my style, creativity, and passion for the field.
          Feel free to visit my Instagram profile.
        </p>
      </div>
      <div class="project-card">
        <h1>Building own apps            
            <i class="fas fa-code"></i>         
        </h1>
        <p>
          During my free time, I build applications using the latest
          technologies I have been learning. I offer these applications as free
          resources for the benefit of the wider community. By doing so, I aim
          to contribute to the growth and advancement of technology while also
          honing my own skills and staying up-to-date with emerging trends.
        </p>
      </div>
    </div>
    <%- include('./footer') %>
</body>