<%- include('./header') %>

<body class="bg-black"> 
    <%- include('./navbar') %>

    <!-- APRESENTAÇÃO -->
    <section class="pt-16 pb-16">
      <div class="w-10/12 mx-auto mt-12 text-center lg:mx-auto xl:mt-12 flex flex-col lg:flex-row gap-12 py-10 pt-14">
        <div class="mb-2 lg:w-1/4 lg:mb-0 min-h-fit h-auto">
          <img src="img/logos/red/RED_semibranco.png" alt="" class="clicable text-center items-center">
        </div>
        <div class = "mb-2 mx-8 lg:w-3/4 lg:mb-0 min-h-fit h-auto items-center">
          <h2 class="text-left text-3xl font-extrabold">RED - Rocket Experiment Division</h2>
          <hr class="mb-6 mt-4">
          <p class="fontes text-justify">O <b>RED</b> é um projeto do AeroTéc, núcleo de estudantes de Engenharia Aeroespacial do Instituto Superior Técnico, que tem como objetivo projetar, construir, testar e lançar rockets com um propósito científico e educacional. Foi fundado em setembro de 2017 e é constituído por alunos do Instituto Superior Técnico, de diferentes cursos, mas todos com uma paixão pelo espaço. O nosso principal objetivo é fomentar a aprendizagem e a integração nas diversas áreas de desenvolvimento do setor espacial, enfrentando os desafios das diferentes fases de um projeto inovador.
        </div>
      </div>  
    </section>

    
    <!-- LIGAÇÕES -->
    <div class="w-10/12 mx-auto mt-6 text-center lg:flex lg:mx-auto xl:mt-10 flex flex-col lg:flex-row gap-12 py-10 pt-20">
  
      <div class="mb-2 lg:w-1/3 lg:mb-0 min-h-fit lg:h-auto">
        <a href="#" class="block transition-colors duration-300 bg-white rounded-lg shadow-lg hover:bg-gray-200 box">
          <img src="/img/EuRoc 2022/FotoEquipa_2.jpg" alt="Imagem 1" class="max-w-full mb-4 rounded-t-md">
          <h1 class="text-2xl font-semibold text-gray-600">MEMBROS</h1>
          <p class="text-gray-600 text-center pb-5 mx-auto fontes leading-tight lg:w-10/12">Conhece todos os membros<br />das várias equipas do RED</p>
        </a>
      </div>
    
      <div class="mb-2 lg:w-1/3 lg:mb-0 min-h-fit lg:h-auto">
        <a href="#" class="block transition-colors duration-300 bg-white rounded-lg shadow-lg hover:bg-gray-200 box">
          <img src="/img/Camoes/capa.jpg" alt="Imagem 2" class="max-w-full mb-4 rounded-t-sm">
          <h1 class="text-2xl font-semibold text-gray-600">MISSÕES</h1>
          <p class="text-gray-600 text-center pb-5 mx-auto fontes leading-tight lg:w-10/12">Descobre um pouco mais sobre<br /> as várias missões realizadas</p>
        </a>
      </div>
    
      <div class="mb-2 lg:w-1/3 lg:mb-0 min-h-fit lg:h-auto">
        <a href="#" class="block transition-colors duration-300 bg-white rounded-lg shadow-lg hover:bg-gray-200 box">
          <img src="/img/capa_2.jpg" alt="Imagem 3" class="max-w-full mb-4 rounded-t-md">
          <h1 class="text-2xl font-semibold text-gray-600">PATROCÍNIOS</h1>
          <p class="text-gray-600 text-center pb-5 mx-auto fontes leading-tight lg:w-10/12">Conhece os nossos patrocínios<br />que tornam o projeto possível</p>
        </a>
      </div>
    
    </div>
    

    

    <%- include('./footer') %>
</body>