<%- include('./header') %>

<body> 
    <%- include('./navbar') %>
    



    <div class="skills-section" id="skills">
      <div class="skill-card">
        <h2>FrontEnd</h2>
        <img style="margin-top: 50px" src="splash.png" alt="" />
        <ul>
          <li>Languages: HTML, CSS, JavaScript, TypeScript</li>
          <li>Frameworks/Libraries: Angular, React, Bootstrap, Material UI</li>
          <li>Tools/Functionalities: JWT, Axios, React Query</li>
        </ul>
      </div>
      <div class="skill-card">
        <h2>BackEnd</h2>
        <img style="height: 300px" class="rotate" src="wheel.png" alt="" />
        <ul style="z-index: 1; transform: translateY(-50px)">
          <li>Language: C#</li>
          <li>Framework: .NET Core</li>
          <li>Database: SQL (Entity Framework)</li>
          <li>API: CRUD Operations, Queries, Validations</li>
        </ul>
      </div>
      <div class="skill-card">
        <h2>Tools</h2>
        <img style="margin-top: 50px" src="tool.png" alt="" />
        <ul>
          <li>VS Code</li>
          <li>PostMan</li>
          <li>GitHub</li>
          <li>Jira</li>
        </ul>
      </div>
    </div>

    <%- include('./footer') %>
</body>