<%- include('./header') %>

<body class="bg-black"> 
    <div><%- include('./navbar') %></div>

    <section class="pt-36" b>
      <div class="items-center h-auto px-5 pl-12 mx-auto md:w-4/5 md:px-0 mb-12 animated_fade">
        <h1 class="my-auto text-left text-5xl font-extrabold animated">MEMBROS</h1>
        <hr class="mb-6 mt-4">
        <div class="w-10/12 mx-auto mt-12 text-center lg:mx-auto xl:mt-12 flex flex-col lg:flex-row gap-12 py-10 pt-14">
          <div class="mb-2 lg:w-1/2 lg:mb-0 min-h-fit h-auto mx-auto lg:mx-0">
            <img src="img/EuRoc2022/FotoEquipa_2.jpg" alt="" class="clicable text-center items-center w-80 lg:max-w-full lg:h-auto">
          </div>
          <div class="mb-2 mx-8 lg:w-1/2 lg:mb-0 min-h-fit h-auto items-center">
            <p class="fontes text-justify">A</p>
          </div>
        </div>  
      </div>
    </section>

    <div><%- include('./footer') %></div>
</body>