<%- include('./header') %>

<body class="bg-black"> 
    <div><%- include('./navbar') %></div>
    <div class = "w-10/12 mx-auto mt-6 text-center lg:mx-auto xl:mt-10 flex flex-col lg:flex-row gap-12 py-10 pt-20">
        <div class = "mb-2 lg:w-1/2 lg:mb-0 min-h-fit lg:h-auto">
  
        </div>
        <div class = "mb-2 lg:w-1/2 lg:mb-0 min-h-fit lg:h-auto">
  
        </div>
      </div>
      
    <div><%- include('./footer') %></div>



    <!-- TEAM -->
<div id="equipa" class="relative z-10 h-auto py-10 mx-auto bg-deepblue md:mt-0">

  <!-- TÍTULO -->
  <div class="flex flex-row items-center justify-center h-auto px-5 pl-12 mx-auto md:w-3/5 md:px-0 mb-12 animated_fade">
    <h1 class="my-auto text-sm text-2xl xl:text-3xl 2xl:text-4xl 3xl:text-5xl animated" style="padding-top:3vh; color: #e1efff">{{ __('Conhece toda a equipa responsável pela Semana Aeroespacial.') }}</h1>
    <img src="/img/mascotes/asset_1-2.svg" class="h-48 my-auto lg:h-64"/>
  </div>

  <!-- EQUIPA -->
  <div class="mx-14 lg:mx-20 flex flex-row gap-10 flex-wrap justify-center w-auto">
  </div>

</div>