<%- include('./header') %>

<body class="bg-black"> 
    <div><%- include('./navbar') %></div>
    <div class = "w-10/12 mx-auto mt-6 text-center lg:mx-auto xl:mt-10 flex flex-col lg:flex-row gap-12 py-10 pt-20">
        <div class = "mb-2 lg:w-1/2 lg:mb-0 min-h-fit lg:h-auto">
  
        </div>
        <div class = "mb-2 lg:w-1/2 lg:mb-0 min-h-fit lg:h-auto">
  
        </div>
      </div>
      
    <div><%- include('./footer') %></div>