<nav>
    <div class="logo">
        <img src="img/logos/RED_semibranco.png" alt="" />
    </div>
    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/team">Equipa</a></li>
        <li><a href="#projects">Patrocínios</a></li>
        <li class="language-switcher">
            <a href="#" class="dropbtn">Language</a>
            <div class="dropdown-content">
                <a href="?lang=pt">Português</a>
                <a href="?lang=en">English</a>
            </div>
        </li>
    </ul>
</nav>